@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h1 class="text-center text-danger">403</h1>

<div class="text-center text-warning mt-4">
    <p class="lead">Erişiminiz Reddedilmiştir / Access Denied</p>
    <p>Bu sayfadaki içeriklere erişim yetkiniz yoktur.</p>
    <p>Erisim izni almak icin site yöneticisi ile görüsünüz.</p>
</div>
