@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h1 class="text-center text-danger">403</h1>

<div class="alert alert-danger text-center mt-4">
    <p class="lead">Erişiminiz Reddedilmiştir / Access Denied</p>
    <p><b>@ViewBag.message</b></p>
    <p>Erişim izni almak için site yöneticisi ile görüşünüz.</p>
</div>
