
@{
    ViewData["Title"] = "Exchange";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h1>Borsa Grafikleri</h1>
<hr/>
<br/>
<h3>30 gün boyunca ücretsiz olarak bu sayfayı görebilirsiniz.</h3>
