@model CoreIdentity.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        @if (ViewBag.status == "success")
        {
            <div class="alert alert-info">Sifre yenileme linki e-posta adresinize gönderilmistir. E-postanizi kontrol ediniz.</div>
        }
        else
        {
            <h4>Sifremi Unuttum</h4>
            <hr />
            <div class="alert alert-info">
                Yeni sifre belirlemek icin kayitli e-posta adresinizi yaziniz.
                Sifre degistirme linkini e-posta adresinize gönderecegiz.
            </div>
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Gönder" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

